import('./quasar.variables.styl')

// app global css
.main-box
  background unset

.main-box.q-card--dark
  background #00000070

.bordered
  border solid 1px $light

.inset-md { margin-left: 25%; margin-right: 25%; width: 50%;}

.inset-sm { margin-left: 30%; margin-right: 30%; width: 40%;}

.inset-xs { margin-left: 35%; margin-right: 35%; width: 30%;}

.hide-arrow
  .q-btn-dropdown__arrow
    display none


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
// input[type="date"]::-webkit-clear-button
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}