// app from-page css
.form-page
  .main-box.q-card
    min-width 55%


  .q-table tbody tr:hover
    background inherit

.q-field--outlined .q-field__control:hover:before {
  border-color: rgba(125, 125, 125, 0.8)
}
.q-select.q-if-disabled .q-if-control {
    visibility: hidden;
}
.q-if-has-content .q-if-control + .q-if-control {
    display: none;
}

.q-field-content
  .field-loading
    font-size 25px
    position relative
    float right
    top -30px

  .field-loading.left
    float left !important
    top -30px
    left -28px

  .field-loading.right
    float right !important




// FORM INPUT STYLE CUSTOMIZE
.q-if.q-dense .q-if-inner,
.q-if-inverted.q-dense .q-if-inner,
.q-if-inverted-light.q-dense .q-if-inner
  font-size: 13px
.q-if.q-dense .q-if-inner
  min-height: 18px
.q-if-inverted.q-dense .q-if-inner,
.q-if-inverted-light.q-dense .q-if-inner
  margin-top: 2px
  margin-bottom: 2px
