.q-table thead, .q-table tr, .q-table th, .q-table td
  border-color rgb(200, 200, 200)
.q-table--dark thead, .q-table--dark tr, .q-table--dark th, .q-table--dark td
  border-color rgb(180, 180, 180)

.q-field--dense.q-field--standout .q-field__control
  padding: 0 6px
.q-select__input--padding
  padding-left: 0px


input[type=number]
  text-align end

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// input[type="date"]::-webkit-clear-button
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
